<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>AgricIndustr&Pesca</title>
    <link rel="stylesheet" href="style.css">
        
</head>
<body>
    
<div class="men">
<p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
            
<font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
             
<div>
<footer class="menu" style="text-align: center;">
                            
<ul>
<li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
<li><b>REGIÃO CENTRO/SUL</b>
<ul>                                                                
<li><a href="munC.Sul.html">Cuanza-Sul</a></li>
<li><a href="munBg.html">Benguela</a></li>
<li><a href="">Namibe</a></li>
                                              
</ul>
</li>	
<li><b>POLITICAS DO TURISMO</b></li>
<li><b>FALE CONNOSCO</b></li>
</ul>
</footer>
</div>
                    
<br><br><br><br><br><br>
    
<nav class="lateral">
<ul>
<li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
<li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
<ul>
<li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
<li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
<li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
<li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
<li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
<li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
</ul>
</li>
<li><b>Potencialidades Turísticas Locais</b>
<ul>
<li>Comuna da Catumbela
<ul>
<li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
<li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
<li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
</ul>
</li>
                     
<li>Comuna do Gama
<ul>
<li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
<li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
<li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
</ul>
</li>
                     
<li>Comuna da Praia Bebé
<ul>
<li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
<li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
<li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
</ul>
</li>
                     
<li>Comuna do Biópio
<ul>
<li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
<li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
</ul>
</li>
</ul>
                 
<li><b>Diagnóstico e Estratégias de Actuação</b>
</a><ul>
<li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
<li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
</ul>
</li>
<li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
</ul>	
 </nav>
</div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
    <div class="texto">
        <ul>
        <font style="font-size:22pt" face="Arial black"><center>Agricultura, Indústria e Pesca</center> </font><br>
        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O município da Catumbela é uma área com solos férteis muito favoráveis à prática da agricultura. A maior parte da população dedica-se à agricultura de subsistência determinada pelo cultivo do milho, feijão, batata-doce e rena, cana-de-açúcar, hortaliças diversas, frutas, etc.<br><br>
            
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O sistema de monocultura era predominantemente, ligado à produção da cana-de-açúcar, matéria-prima para o fabrico do açúcar. A maior parte da produção agrícola estava concentrada no perímetro pertencente à Sociedade Agrícola do Cassequel. Depois do ano de 1975, a empresa foi confiscada pelo Estado já com a designação de 1º de Maio, ainda com a continuidade dos objectivos consagrados na produção do açúcar. Com a baixa da produção da cana-de-açúcar, os terrenos passaram para o Ministério da agricultura através do Gabinete de Desenvolvimento dos perímetros irrigados. <br><br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aliado à agricultura, surge o Pólo de Desenvolvimento Industrial da Catumbela (PDIC), uma Sociedade Anónima de Responsabilidade Limitada (SARL) constituída por capitais públicos, dotada de personalidade jurídica, autonomia financeira, administrativa e património próprio. Tem como accionistas o Instituto de Desenvolvimento Industrial de Angola (IDIA) com 60% e o Governo da Província de Benguela com 40%. O PDIC tem como objecto social, a criação, construção, equipamento, gestão e promoção do pólo de desenvolvimento, comercialização de terrenos locais e serviços, bem como assegurar o funcionamento necessário, entre outros. <br><br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A Coca-Cola Company e a Cervejeira Cuca da SOBA Catumbela, são alguns exemplos de relevo da expansão do Pólo Industrial, um projecto em franco desenvolvimento. A pesca é a actividade terciária, depois da agricultura e o comércio, praticada principalmente na Praia do Bebé. Os produtos capturados destinam-se para a alimentação e para o comércio. A pesca é do tipo artesanal e não há registo de agremiação, organização ou associação de pescadores na localidade. O <i>comércio</i> na Catumbela controla cerca de 511 Empresas que actuam em diversos sectores da actividade económica. <br><br>
       </p>

</u>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
    <nav class="navbar navbar-expand-lg navbar-red bg-red">
        <div class="container-relative" style="font-style: italic; color: white"><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><b style="color:white;">Ir para o topo</b></a></p>
            <p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>&copy; Programação para Web, 4º ano.&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><b style="color: white;">Termos & Privacidades</b> </a></b></p>
        </div>
        </nav>
</footer>
</body>
</html>