<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>AspClim&Hidrog</title>
    <link rel="stylesheet" href="style.css">
        </head>
        <body>
            
    <div class="men" style="text-align: center;">
    <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font> <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                    
    <font size="3" color="snow" face=" Times New Roman">| &nbsp;TÔMBWA</font>
                     
    <div>
    <footer class="menu">
                                    
    <ul>
    <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
    <li><b>REGIÃO CENTRO/SUL</b>
    <ul>                      
                                                     
    <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
    <li><a href="munBg.html">Benguela</a></li>
    <li><a href="">Namibe</a></li>
    </ul>
    </li>	
    <li><b>POLITICAS DO TURISMO</b></li>
    <li><b>FALE CONNOSCO</b></li>
    </ul>
    </footer>
    </div>
                        
    <br><br><br><br><br><br>
                
    <input type="checkbox" id="chec">
    <label for="chec"></label>
    <div>
    <nav class="lateral">
    <ul>
    <li><a href="RefHistTômbwa.html"><b>Breve referência histórica do município do Tômbwa</b></a></li>
    <li><b>Características Físico-Económico e Geográfico da Comuna do município do Tômbwa</b>
    <ul>
    <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
    <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
    <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
    <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
    <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
    </ul>
    </li>
    <li><b>Potencialidades Turísticas Locais</b>
    <ul>
    <li>Praias urbanas e não urbanas
    <ul>
    <li><a href="RecTurNatTômbwa.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonTômbwa.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultTômbwa.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurTômbwa.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                                 
    <li>Potencialidades turísticas do Parque do Iona
    <ul>
    <li><a href="RecTurNatParqueIona.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonParqueIona.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="InfraTurParqueIona.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                                 
    <li>Potencialidades turísticas da Baía dos Tigres
    <ul>
    <li><a href="RecTurNatBaíaTigres.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonBaíaTigres.html"> Recursos Turísticos histórico-monumetais</a></li>
    </ul>
    </li>
    </ul>
                             
    <li><b>Diagnóstico e Estratégias de Actuação</b>
    </a><ul>
    <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
    <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo no município do Tômbwa</a></li>
    </ul>
    </li>
    <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
    </ul>	
    </nav>
    </div>  

    <div class="texto">
        <ul>
            <font style="font-size:22pt" face="Arial black"><center>Aspectos climáticos e hidrográficos</center></font><br>
            <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O clima varia muito entre o desértico-húmido que se observa no litoral e o seco-quente no interior do município. A temperatura máxima é de 30° e a mínima é de 13°-15°. A estação seca, conhecida como Cacimbo, é o período mais prolongado, tendo a estação de chuvas uma curta duração de 4 meses, com precipitação média anual na ordem dos 13 mm. Os ventos locais sopram no sentido Noroeste, e por vezes, até ao Oeste. A variação diurna de temperatura do vento causa brisas locais que em regra, no período da tarde, sopram da terra para o mar. No verão, é normal soprar de quadrante Leste (isto é de Junho á Agosto), cujos ventos são quentes e secos, que originam tempestades de areias. Os solos são do tipo arenosos, argilosos e esqueléticos com características desérticas.
                    <p>

            <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A rede hidrográfica do município destaca dois rios principais, o rio Cunene de caudal permanente, ocupa toda a extensão da fronteira Sul do Município, com uma capacidade hídrica considerável e o rio Curoca, de curso intermitente. Nos vales desses rios, qualquer escavação, mesmo em pequena escala, leva ao aparecimento de água, constituindo por isso, uma potencialidade para a agricultura e turismo. Cabe referir a existência de duas importantes lagoas, a do Carvalhão e do Arco; este último um dos cartões postais do Tômbwa.
            </p>
            
        
                                
        
        </div>  
    </body>
    </html>