<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>AspClim&Hidrog</title>
    <link rel="stylesheet" href="style.css">
        
</head>
<body>
   
    <div class="men">
        <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                    
        <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                     
        <div>
        <footer class="menu" style="text-align: center;">
                                    
        <ul>
        <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
        <li><b>REGIÃO CENTRO/SUL</b>
        <ul>                                                                
        <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
        <li><a href="munBg.html">Benguela</a></li>
        <li><a href="">Namibe</a></li>
                                                      
        </ul>
        </li>	
        <li><b>POLITICAS DO TURISMO</b></li>
        <li><b>FALE CONNOSCO</b></li>
        </ul>
        </footer>
        </div>
                            
        <br><br><br><br><br><br>
            
        <nav class="lateral">
        <ul>
        <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
        <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
        <ul>
        <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
        <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
        <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
        <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
        <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
        <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
        </ul>
        </li>
        <li><b>Potencialidades Turísticas Locais</b>
        <ul>
        <li>Comuna da Catumbela
        <ul>
        <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
        <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
        </ul>
        </li>
                             
        <li>Comuna do Gama
        <ul>
        <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
        <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
        </ul>
        </li>
                             
        <li>Comuna da Praia Bebé
        <ul>
        <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
        <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
        </ul>
        </li>
                             
        <li>Comuna do Biópio
        <ul>
        <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
        </ul>
        </li>
        </ul>
                         
        <li><b>Diagnóstico e Estratégias de Actuação</b>
        </a><ul>
        <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
        <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
        </ul>
        </li>
        <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
        </ul>	
         </nav>
        </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  
    <div class="texto">
        <ul>
        <font style="font-size:22pt" face="Arial black"><center>Aspectos climáticos e hidrografía</center> </font><br>
        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O município enquadra-se na região com fortes influências de correntes oceânicas com destaque á corrente fria de Benguela. De acordo com Köppen no município predominam dois tipos de clima nomeadamente o clima das regiões tropicais desértico e clima das regiões tropicais secas.
        </p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O clima é influenciado pela corrente fria de Benguela, que regula a temperatura e aumenta a secura na área. Trata-se de uma corrente promovida pelos ventos que se movem no sentido Sul-Norte, manifestando-se na Costa Ocidental da África, desde Cabo da Boa Esperança (Cidade de Cabo na África do Sul), passando pela Costa dos Esqueletos (no noroeste da Namíbia), e pela Costa angolana até próximo do Equador.
        </p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A corrente fria de Benguela está associada a uma corrente ascendente de águas frias (upwelling), que favorece o afloramento de substâncias nutritivas e ao mesmo tempo é responsável por condições áridas e semi-áridas na zona sudoeste de Angola. A corrente fria de Benguela não é tão forte entre Janeiro a Abril, porque durante este período ocorre a maior precipitação e as águas atingem uma salinidade baixa. 
        </p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Apesar da aridez, a humidade relativa do ar é elevada, atingindo o valor médio anual superior a 75%. A amplitude relativa média anual é de 20%, com uma evaporação média anual variando entre 1500 à 2000 mm, com uma insolação média anual da região entre 50 a 55%. Quanto a temperatura no município da Catumbela, ao longo do ano, a temperatura varia entre 20ºC a 33ºC e raramente é inferior a 19ºC ou superior a 35ºC. Nos meses mais quentes, a temperatura máxima média é de 33ºC e a mínima média é de 24ºC, e nos meses mais frios a temperatura máxima média é de 29ºC, e a mínima é de 20ºC.
        </p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A rede hidrográfica está intimamente ligada ao relevo. A hidrografia do município é destacada pelo rio Catumbela de caudal permanente (Figura: 3). O rio Catumbela é a principal artéria fluvial do município, desempenhando um papel muito importante na vida económica e social da região e da província de Benguela. Na posição ocidental se encontra o oceano Atlântico que banha toda costa das comunas do Gama e do Praia-Bebé, recurso (praia) de grande valor e importância para a actividade pesqueira e para o turismo. 
        </p>

        <center>
            <img src="fotosAspClim&Hidrog/foto1.png" alt="foto1.html">
        </center>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A caracterização importante do rio Catumbela é o facto de apresentar ao longo do seu perfil longitudinal, numerosas quedas da água e rápida, principalmente na época chuvosa. Isto deve-se a forma do relevo se ter caracterizado pelo escalonamento em diferentes degraus, separados por desníveis bruscos, sobretudo entre o litoral atlântico e a zona planáltica do interior. O rio Catumbela para atingir o seu perfil de equilíbrio, normalmente provoca a erosão vertical junto da sua nascente e no seu curso médio a erosão horizontal, talhando o seu leito de tal maneira que os desníveis vão desaparecer junto da foz. No seu curso inferior deposita os sedimentos, arrancando e depois arrastados pela velocidade das águas.</p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O rio Catumbela, com cerca de 250 km, nasce na província da Huíla, percorrendo as terras férteis dos granitos da região central, atravessa a faixa de rochas metamórficas do Complexo Metamórfico e as rochas carbonatadas da faixa litoral, com quedas de água e cachoeiras, apresentando margens mais largas nas zonas costeiras e desagua no Oceano Atlântico.</p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A bacia hidrográfica do Catumbela apresenta uma “área de 16.532 km² e um perímetro de 747,9 km², que se estende por quatro unidades de relevo definidas. A zona mais oriental “corresponde ao Planalto Antigo, onde se observa uma extensa superfície que oscila entre 1200 e os 1850 metros de altitude”. O município é servido também por algumas barragens como a do Biópio, do Biópio do Cassequel e as Comportas na área do Açude destacando-se a existência de algumas lagoas no interior da sede</p>
      </ul>
    </div>
</body>
</html>