<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>AspSocDemo&Eco</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
<div class="men" style="text-align: center;">
<p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font> <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
<font size="3" color="snow" face=" Times New Roman">| &nbsp;TÔMBWA</font>
                 
<div>
<footer class="menu">
                                
<ul>
<li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
<li><b>REGIÃO CENTRO/SUL</b>
<ul>                      
                                                 
<li><a href="munC.Sul.html">Cuanza-Sul</a></li>
<li><a href="munBg.html">Benguela</a></li>
<li><a href="">Namibe</a></li>
</ul>
</li>	
<li><b>POLITICAS DO TURISMO</b></li>
<li><b>FALE CONNOSCO</b></li>
</ul>
</footer>
</div>
                    
<br><br><br><br><br><br>
            
<input type="checkbox" id="chec">
<label for="chec"></label>
<div>
<nav class="lateral">
<ul>
<li><a href="RefHistTômbwa.html"><b>Breve referência histórica do município do Tômbwa</b></a></li>
<li><b>Características Físico-Económico e Geográfico da Comuna do município do Tômbwa</b>
<ul>
<li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
<li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
<li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
<li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
<li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
</ul>
</li>
<li><b>Potencialidades Turísticas Locais</b>
<ul>
<li>Praias urbanas e não urbanas
<ul>
<li><a href="RecTurNatTômbwa.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonTômbwa.html"> Recursos Turísticos histórico-monumetais</a></li>
<li><a href="RecTurCultTômbwa.html"> Recursos Turísticos Culturais</a></li>
<li><a href="InfraTurTômbwa.html"> Infraestructuras Turísticas</a></li>
</ul>
</li>
                             
<li>Potencialidades turísticas do Parque do Iona
<ul>
<li><a href="RecTurNatParqueIona.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonParqueIona.html"> Recursos Turísticos histórico-monumetais</a></li>
<li><a href="InfraTurParqueIona.html"> Infraestructuras Turísticas</a></li>
</ul>
</li>
                             
<li>Potencialidades turísticas da Baía dos Tigres
<ul>
<li><a href="RecTurNatBaíaTigres.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonBaíaTigres.html"> Recursos Turísticos histórico-monumetais</a></li>
</ul>
</li>
</ul>
                         
<li><b>Diagnóstico e Estratégias de Actuação</b>
</a><ul>
<li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
<li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo no município do Tômbwa</a></li>
</ul>
</li>
<li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
</ul>	
</nav>
</div>  
    <div class="texto">
	
    <ul>
    <font style="font-size:22pt" face="Arial black"><center>Aspectos demográficos e sócio-económicos</center></font><br>
    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dados do censo (2014) estima que a população do Município do Tômbwa seja de 54.876 habitantes, estimando um crescimento demográfico em 21% entre os anos de 2015 a 2020, actualmente o Municipio conta com uma população de 68.196 habitantes que estão concentrados na sede do Tômbwa onde residem cerca de 60%, enquanto a comuna da Baía dos Tigres tem apenas 0% do total da população do Município. 
    </p>
    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A população é fundamentalmente migrante, vindos principalmente do Huambo, Benguela, Kwanza Sul, Bié, Huila e Cuando Cubango, pois a região é das poucas que não foi directamente afectada pelo conflicto armado. Se observa a tendência de crescimento da população urbana, sobretudo, na época alta da pesca, devido ao facto de ser a época de maior captura, levando as pessoas a migrarem para o município e aí exercerem a actividade de pesca. O sector da saúde é servido por um hospital municipal, centros de saúde e postos de saúde distribuídos no território. Nos casos mais graves os pacientes são transferidos para unidades hospitalares na cidade do Namibe. No domínio da educação é servida por escolas primárias, secundárias, e do ensino médio. No interior do município um dos principais problemas é o nomadismo.
    <p>

    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A distribuição da energia eléctrica é feita através de grupos de geradores sob a gestão da Administração Municipal. A energia para a sede do município é feita à partir de uma central termoeléctrica, com dois grupos geradores com fornecimento regular e ininterrupto (24/24 horas), com uma potência eficaz de 7.6 MW. Na comuna do Iona existe igualmente um gerador. De referir que até ao ano de 2000, o abastecimento da cidade do Tômbwa era garantido pela Barragem Hidroeléctrica da Matála, província da Huíla (Administração do Tômbwa, 2018)
    </p>
    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A economia do município do Tômbwa tem como base a pesca e a indústria da transformação de pescado e marisco. A agricultura vem ganhando seu espaço, passando de uma actividade de subsistência à de comércio. A terra disponível para o cultivo é muito limitada, os solos na sua maioria são pouco propícios devido ao seu alto teor de salinização. As melhores terras para cultivo estão localizadas nas margens dos rios, mas devido ao fenómeno das cheias muitas vezes a produção é destruída. A agricultura é praticada principalmente nas povoações do Curoca e Pinda.
    </p>
                    
                    
                    
                               
        
</div>  
</body>
</html>