<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Catumbela</title>
        <link rel="stylesheet" href="style.css">
        
        </head>
        <body>
           
<div class="men">
    <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
    <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                 
    <div>
    <footer class="menu" style="text-align: center;">
                                
    <ul>
    <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
    <li><b>REGIÃO CENTRO/SUL</b>
    <ul>                                                                
    <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
    <li><a href="munBg.html">Benguela</a></li>
    <li><a href="">Namibe</a></li>
                                                  
    </ul>
    </li>	
    <li><b>POLITICAS DO TURISMO</b></li>
    <li><b>FALE CONNOSCO</b></li>
    </ul>
    </footer>
    </div>
                        
    <br><br><br><br><br><br>
        
    <nav class="lateral">
    <ul>
    <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
    <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
    <ul>
    <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
    <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
    <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
    <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
    <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
    <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
    </ul>
    </li>
    <li><b>Potencialidades Turísticas Locais</b>
    <ul>
    <li>Comuna da Catumbela
    <ul>
    <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Gama
    <ul>
    <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna da Praia Bebé
    <ul>
    <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Biópio
    <ul>
    <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
    </ul>
    </li>
    </ul>
                     
    <li><b>Diagnóstico e Estratégias de Actuação</b>
    </a><ul>
    <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
    <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
    </ul>
    </li>
    <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
    </ul>	
     </nav>
    </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>       
        <div class="texto"> 
        
                <ul>
                <center><font style="font-size:22pt" face="Arial black">Introdução</font></center><br>
                    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Angola é um país com enorme potencial de recursos turísticos resultado das características naturais privilegiadas em que se destacam os aspectos físico-geográficos (realce para os geomorfológicos e ecológicos), histórico-culturais e socioeconómicos. A existência de inúmeros e valiosos recursos turísticos naturais, histórico-monumentais e culturais (destaque para a gastronomia regionalmente variada), património histórico-monumentais (existência de arquitectura colonial singular, centros históricos, museus, pinturas rupestres, igrejas e outros) e naturais (paisagens, quedas de água, parques e reservas naturais, fontes de águas termais, fauna e flora, sol e praias), fazem de Angola um país com capacidade de contrariar as tendências globais de crises e depressões económicas que caracterizam o mundo actual.
                    </p>
                    </li>
                                            
                    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Todo este potencial turístico, se observa em grande medida na província de Benguela, com especial referência as potencialidades vocacionadas para as modalidades relacionadas com o turismo natural e histórico-cultural, com valências mais que suficientes para converter a Provincia, neste caso particular o municipio da Catumbela, num dos principais eixos estratégicos para o desenvolvimento turístico e ser decisivo no processo de diversificação da economia local. Aliados aos aspectos referenciados, a Catumbela apresenta por outro lado, algumas vantagens comparativas como é o caso de estar localizado entre as duas cidades mais importantes da província (Lobito e Benguela), fontes emissores de turistas potenciais, situar-se no enterlance dos Caminhos de Ferro de Benguela (CFB), do Porto do Lobito e ter no seu espaço territorial, o potencial aeroporto internacional da Catumbela e fluir na bela vila o serpentear do magestoso Rio Catumbela. 
                    </p>
                        
                    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Nesta perspectiva, a actividade turística vai seguramente, complementar o sector agrícola e pesqueiro. Porém, todo este potencial, necessita adequado tratamento tendo em conta a sua valorização e rentabilização, priorizando a sua identificação, sistematização, classificação e tipificação como premissa fundamental para iniciar o processo de planejamento, para que estes recursos-lugares turísticos potenciais identificados, sejam transformados em productos-serviços turísticos e colocados na rede do turismo do município, da província, de Angola e inserido na Região Austral de África num momento em que a zona de livre comércio é uma realidade e urge obter-se vantagens competitivas.
                    </p>

                    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Cabe destacar que o Inventário e Diagnóstico das Potencialidades Turísticas (IDPT), a Estratégia de Divulgação, Promoção e Marketing Turístico (EDPMT) do município proposto, vai facilitar a definição das estratégias e programas do Plano Director do Turismo (PDT), facto que determinará em grande medida, a tomada das decisões mais adequadas para priorizar os investimentos necessários para dar impulso necessário ao processo de planejamento e ordenamento harmonioso e racional do turismo nas localidades (comunas), tendo em conta os recursos turísticos inventariados, sustentados numa base científica e nos princípios dos pilares do turismo sustentável, tal como recomenda a Organização Mundial do Turismo (OMT).
                      </p>

                      <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      O presente trabalho vai permitir demonstrar que o turismo do litoral e rural, servem de catalizador da favor do desenvolvimento económico e social da região, na perspectiva de desenvolvimento local sustentável, devido a sua capacidade de indução dos investimentos, geraçâo de empregos e aumento de renda da população envolvida (comunidades locais), sobre tudo, no combate da pobreza e dos desiquilibrios territoriais.	
                </li><p>
                </ul>
                <ul>
                    <font style="font-size: 16pt" face="Arial black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Objectivos</font></li>
                    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O inventário, de modo geral, tem como objectivo, diagnosticar os principais recursos e atractivos turísticos do município, a fim de fornecer subsídios para a estruturação da oferta turística local. Específicamente preconizaram-se os seguintes objectivos:</p>
    <p style="font-size: 15pt;"> 1.	Identificar os principais recursos e atractivos turísticos existentes no espaço territorial do municipio da Catumbela;</p>
    <p style="font-size: 15pt;"> 2.	Classificar e agrupar os recursos turísticos de acordo com a realidade e especificidade do município (recursos turísticos naturais, histórico-monumentais e culturais. Incluindo-se as infraestruturas de apoio aos turístas);</p>
    <p style="font-size: 15pt;"> 3.	Apresentar a proposta de desenvolvimento do turismo em toda a extenção do território do município, considerando os recursos (atractivos) identificados;</p>
    <p style="font-size: 15pt;"> 4.	Desenhar e implementar a proposta de estratégia (programa) de divulgação, promoção e marketing do potencial turístico existente nas localidades do município;</p>
    <p style="font-size: 15pt;"> 5.	Promover a cultura turística da população residente, dos turístas e empresários do sector do turismo no territorio da Catumbela, tendo em conta os princípios da sustentabilidade.</p>
    
    </li>
    
            </ul>
            </div>
	
    </body>
    </html>