<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>ClonclusãoFinais</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
<div class="men" style="text-align: center;">
<p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font> <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
<font size="3" color="snow" face=" Times New Roman">| &nbsp;TÔMBWA</font>
                 
<div>
<footer class="menu">
                                
<ul>
<li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
<li><b>REGIÃO CENTRO/SUL</b>
<ul>                      
                                                 
<li><a href="munC.Sul.html">Cuanza-Sul</a></li>
<li><a href="munBg.html">Benguela</a></li>
<li><a href="">Namibe</a></li>
</ul>
</li>	
<li><b>POLITICAS DO TURISMO</b></li>
<li><b>FALE CONNOSCO</b></li>
</ul>
</footer>
</div>
                    
<br><br><br><br><br><br>
            
<input type="checkbox" id="chec">
<label for="chec"></label>
<div>
<nav class="lateral">
<ul>
<li><a href="RefHistTômbwa.html"><b>Breve referência histórica do município do Tômbwa</b></a></li>
<li><b>Características Físico-Económico e Geográfico da Comuna do município do Tômbwa</b>
<ul>
<li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
<li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
<li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
<li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
<li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
</ul>
</li>
<li><b>Potencialidades Turísticas Locais</b>
<ul>
<li>Praias urbanas e não urbanas
<ul>
<li><a href="RecTurNatTômbwa.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonTômbwa.html"> Recursos Turísticos histórico-monumetais</a></li>
<li><a href="RecTurCultTômbwa.html"> Recursos Turísticos Culturais</a></li>
<li><a href="InfraTurTômbwa.html"> Infraestructuras Turísticas</a></li>
</ul>
</li>
                             
<li>Potencialidades turísticas do Parque do Iona
<ul>
<li><a href="RecTurNatParqueIona.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonParqueIona.html"> Recursos Turísticos histórico-monumetais</a></li>
<li><a href="InfraTurParqueIona.html"> Infraestructuras Turísticas</a></li>
</ul>
</li>
                             
<li>Potencialidades turísticas da Baía dos Tigres
<ul>
<li><a href="RecTurNatBaíaTigres.html"> Recursos Turísticos Naturais</a></li>
<li><a href="RecTurHistMonBaíaTigres.html"> Recursos Turísticos histórico-monumetais</a></li>
</ul>
</li>
</ul>
                         
<li><b>Diagnóstico e Estratégias de Actuação</b>
</a><ul>
<li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
<li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo no município do Tômbwa</a></li>
</ul>
</li>
<li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
</ul>	
</nav>
</div>  

            <div class="texto">
                <ul>
                    <font style="font-size:22pt" face="Arial black"><center>CONCLUSÕES FINAIS</center> </font><br>
                    
                    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O resultado do inventário dos recursos turísticos efectuado e analisados os factores internos e externos utilizando o método da análise das Debilidades, Ameaças, Fortalezas e Oportunidade (DAFO), permitiu-nos concluir que o município do Tômbwa, possui vastos e diversificados Recursos Turísticos (lugares e atractivos) muito deles de referência nacional e internacional pela sua singularidade como é o caso do <i>“Sol-Praia (Mar) -Deserto e Cultura autóctone”</i>. Estes recursos, podem ser potenciados de forma faseada para garantir sua valorização e rentabilização económica como productos e serviços turísticos altamente competitivos no mercado nacional e internacional. O inventário registou quantitativamente entre os principais Recursos Turísticos os seguintes<sup id="cite_ref-Inm_32-0" class="reference"><a href="#cite_note-Inm-32"><span>[</span>32<span>]</span></a></sup>: <br>
                                                           
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>1.	Tômbwa (sede):</b><br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) Recursos Naturais (23);<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) Recursos Histórico-monumentais (8);<br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) Recursos Culturais (7);<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>2.	Comuna do Iona:</b><br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) Recursos Naturais (13);<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) Recursos Histórico-monumentais (6);<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) Recursos Culturais (5);<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>3.	Baía dos Tigres:</b><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a) Recursos Naturais (6);<br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b) Recursos Histórico-monumentais (7);<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) Recursos Culturais (0).<br>
                    </p>
        
                    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No total, foram registados 36 (trinta e seis) Recursos Turísticos Naturais; 18 (dezoito) Recursos Turísticos Histórico-monumentais; 12 (doze) Recursos Turístico Culturais. Apesar do potencial registado, o desenvolvimento do turismo no município é incipiente (muito baixo). A administração local e o Ministério da Cultura, Turismo e Ambiente não fomentam as actividades turísticas nem tão pouco existia uma estratégia (inventário-diagnóstico e plano director) para potenciar este importante sector. Porém, considera que o ordenamento e o início do processo de planificação do espaço territorial turístico que prioriza a gestão pública e a iniciativa privada, vai transformar o turismo num sector estratégico complementar e/ou alternativo da actividade pesqueira predominante no território.</p>
                                
                    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Em síntese, o Tômbwa tem potencial capaz de atrair turistas vocacionados para a
                    <i>natureza</i> de grande singularidade, muitos em bom estado de conservação. No domínio do <i>turismo cultural</i>, conta com património e edifícios de arquitectura colonial, hábitos e costumes locais entre as quais as danças tradicionais, o artesanato e a gastronomia, reflexo dos diferentes grupos etnolinguísticos que habitam o território entre os quais os <i>Muhimbas, Mutchimbas, Mucubais, Mucorocas</i> entre outros com suas particularidades.
                    </p>
                    
                    <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A escassez de empreendimentos turísticos (Anexo:4) e serviços, demonstram que é importante estimular o sector privado; o empresariado a investir no turismo local e implementar a estratégia de divulgação, promoção e marketing, melhorar as vias de acesso (estradas), a acomodação (alojamento e restauração) e sinalização dos atractivos como elementos fundamentais para conquistar vantagem competitiva como estratégia exitosa de desenvolvimento turístico.
                    </p>
        
                   
        
                    <br><br><br><br>
                    <hr><hr><p><i justify style="font: size 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup id="cite_ref-Inm_32-0" class="reference"><a href="#cite_note-Inm-32"><span>[</span>32<span>]</span></a></sup>Há que considerar a complexidade da quantificação dos recursos culturais, pois alguns são imateriais. Por outro lado, para o caso particular da Baía dos Tigres, a análise dos recursos foi feito na generalidade tendo em conta o geocomplexo físico-geográfico dos recursos turísticos naturais, pelo que consideramos conveniente destacar fundamentalmente o deserto (dunas), a praia e a fauna.
                    
                    </ul>
                </div>
            </body>
            </html>