<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ClonclusãoFinais</title>
    <link rel="stylesheet" href="style.css">
        
        </head>
        <body>
            
       
<div class="men">
    <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
    <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                 
    <div>
    <footer class="menu" style="text-align: center;">
                                
    <ul>
    <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
    <li><b>REGIÃO CENTRO/SUL</b>
    <ul>                                                                
    <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
    <li><a href="munBg.html">Benguela</a></li>
    <li><a href="">Namibe</a></li>
                                                  
    </ul>
    </li>	
    <li><b>POLITICAS DO TURISMO</b></li>
    <li><b>FALE CONNOSCO</b></li>
    </ul>
    </footer>
    </div>
                        
    <br><br><br><br><br><br>
        
    <nav class="lateral">
    <ul>
    <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
    <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
    <ul>
    <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
    <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
    <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
    <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
    <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
    <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
    </ul>
    </li>
    <li><b>Potencialidades Turísticas Locais</b>
    <ul>
    <li>Comuna da Catumbela
    <ul>
    <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Gama
    <ul>
    <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna da Praia Bebé
    <ul>
    <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Biópio
    <ul>
    <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
    </ul>
    </li>
    </ul>
                     
    <li><b>Diagnóstico e Estratégias de Actuação</b>
    </a><ul>
    <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
    <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
    </ul>
    </li>
    <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
    </ul>	
     </nav>
    </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
    <div class="texto">
        <ul>
            <font style="font-size:22pt" face="Arial black"><center>CONCLUSÕES FINAIS</center> </font><br>
            
            <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O resultado do inventário das potencialidades turísticas efectuado no território da Catumbela, e posteriormente analisado os factores internos e externos recorrendo ao método da análise das Debilidades, Ameaças, Fortalezas e Oportunidade (DAFO), permitiu concluir que o município possui diversos Recursos Turísticos (lugares e atractivos) naturais, histórico-monumentais e culturais, alguns de referência nacional pela sua singularidade, tal é o caso do <i>“Carnaval da Catumbela e a Ponte 4 de Abri e a Foz do Rio Catumbela e outros activos”</i>.</p>

            <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Os recursos turísticos identificados, podem ser potenciados de forma faseada (plano), para garantir sua valorização e rentabilização económica como produtos turísticos, a fim de se conquistar, vantagens competitivas no mercado turístico nacional, regional e internacional. O inventário, registou os seguintes recursos turísticos por comunas<sup id="cite_ref-Inm_20-0" class="reference"><a href="#cite_note-Inm-20"><span>[</span>20<span>]</span></a></sup>:<br>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>1.	Comuna da Catumbela:</b><br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) Recursos Naturais (3); <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) Recursos Histórico-monumentais (27);<br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) Recursos Culturais (10);<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>2. Comuna da Gama:</b><br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) Recursos Naturais (4); <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) Recursos Histórico-monumentais (12);
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) Recursos Culturais (10);<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>3.	Comuna da Praia Bebé:</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) Recursos Naturais (3); <br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) Recursos Histórico-monumentais (8); <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) Recursos Culturais (6).<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>4.	Comuna do Biópio:</b><br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) Recursos Naturais (7); <br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) Recursos Histórico-monumentais (6); <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) Recursos Culturais (12).<br>
            </p>

            <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No total, foram registados Dezassete (17) Recursos Turísticos Naturais; Cinquenta e Três (53) Recursos Turísticos Histórico-monumentais; (38) Recursos Turísticos Culturais, totalizando 108 Recursos Turísticos inventariados.</p>
                        
            <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Apesar do potencial turístico registado, o desenvolvimento do turismo no município da Catumbela, é todavia incipiente (muito baixo). A administração local e o Ministério da Cultura, Turismo e Ambiente fomentam poucas actividades turísticas e não existia uma estratégia turística (Inventário e Diagnóstico-Plano Director) para potenciar este importante sector económico. Porém, a realização deste trabalho é prova evidente para inverter o quadro, pois com estas ferramentas, se inicia o processo de planificação do espaço territorial turístico da Catumbela, que harmoniza a gestão pública e a iniciativa privada, acção que vai seguramente, transformar o turismo no município, num sector económico estratégico e complementar da actividade agrícola, industrial e da pesca artesanal ainda, predominante.</p>
            
            <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De forma geral, o município tem potencialidades turísticas capazes de atrair turistas vocacionados para a modalidade do Turismo de Natureza porque ostenta lugares relativamente virgens, em bom estado de conservação. Para o Turismo Cultural, conta com rico património integrado por edifícios de arquitectura colonial simbólica, hábitos e costumes, danças tradicionais, artesanato e gastronomia, reflexo dos grupos etnolinguísticos que habitam o território entre os quais se destacam os Ovimbundos e outros povos, com suas particularidades.
            </p>

            <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A escassa oferta de empreendimentos turísticos (Anexo:5) e serviços, demonstram a necessidade imperiosa de estimular o investimento privado. É urgente por outro lado, capitalizar o empresariado local e implementar a estratégia de <i>divulgação, promoção e marketing (2022)</i>, melhorar as vias de acesso (estradas), a acomodação (alojamento e restauração) e a sinalização dos atractivos como aspectos fundamentais para obter vantagens competitivas para se alcançar o êxito para o desenvolvimento turístico do município.
            </p>

            <br><br><br><br>
            <hr><hr><p><i justify style="font: size 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup id="cite_ref-Inm_20-0" class="reference"><a href="#cite_note-Inm-20"><span>[</span>20<span>]</span></a></sup>stratégias de divulgação, publicidade, promoção e marketing turístico da comuna da Catumbela (2022).
            
            </ul>
        </div>
    </body>
    </html>