<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>InfraTurComCatumbela</title>
<link rel="stylesheet" href="style.css">
        
        </head>
        <body>
      
<div class="men">
    <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
    <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                 
    <div>
    <footer class="menu" style="text-align: center;">
                                
    <ul>
    <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
    <li><b>REGIÃO CENTRO/SUL</b>
    <ul>                                                                
    <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
    <li><a href="munBg.html">Benguela</a></li>
    <li><a href="">Namibe</a></li>
                                                  
    </ul>
    </li>	
    <li><b>POLITICAS DO TURISMO</b></li>
    <li><b>FALE CONNOSCO</b></li>
    </ul>
    </footer>
    </div>
                        
    <br><br><br><br><br><br>
        
    <nav class="lateral">
    <ul>
    <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
    <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
    <ul>
    <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
    <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
    <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
    <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
    <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
    <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
    </ul>
    </li>
    <li><b>Potencialidades Turísticas Locais</b>
    <ul>
    <li>Comuna da Catumbela
    <ul>
    <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Gama
    <ul>
    <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna da Praia Bebé
    <ul>
    <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Biópio
    <ul>
    <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
    </ul>
    </li>
    </ul>
                     
    <li><b>Diagnóstico e Estratégias de Actuação</b>
    </a><ul>
    <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
    <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
    </ul>
    </li>
    <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
    </ul>	
     </nav>
    </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
        <div class="texto">
            <ul>
                <font style="font-size:22pt" face="Arial black"><center>Infra-estruturas Turísticas de Apoio e Afins</center> </font><br>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Drive Thru (Rosalina Expresso)</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Empreendimento turístico de referência, situado a Norte da ponte 4 de Abril, a Leste da antiga fábrica de açúcar e a Sul do Hospital da Polícia, ao lado da EN: 100. O espaço integra as seguintes áreas de serviço: Área Vip com 9 mesas e 36 cadeiras e uma (1) tela para conferências; Área de recreação infantil, com 4 cadeiras duplas para os acompanhantes dos petizes; uma (1) esplanada e áreas de apoio. Em síntese, o complexo oferece condições favoráveis para realizar casamentos, facilidade para realizar conferências, actividades de lazer, recreação infantil e outras afins.<br>

                <center>
                    <img src="FotosInfraTurCatumbela/foto1.png" alt="foto1.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Centro Turístico dos Bambús</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Está localizado na rua principal paralela a marginal, a Leste da vila em direcção ao bairro do Tchiyule, (S12º26´491´´; E13º´33´344´´). O espaço foi construído na época colonial, sofreu alterações profundas, devido à construção da marginal renovada, acção que retirou o aspecto turístico original, pois existia no lugar, algumas espécies de animais como macacos e jacarés. Actualmente existe no lugar, uma zona de lazer e uma lanchonete.<br>

                    <table border="1.0">
                        <tr>
                        <td><b>propostas:</b><br>
                        &nbsp;Especializar o local para o mini-camping e o turismo social. Realizar actividades lúdicas e investir na protecção de espécies de animais em cativeiro, a fim de restituir o seu valor educativo-ambiental, eventualmente tornar-se num Mini Zoológico. Colocar o atractivo, na rota de pacotes turísticos de lazer e recreação.
                        </td>
                        </tr>
                        </table><br>

                <center>
                    <img src="FotosInfraTurCatumbela/foto2.png" alt="foto2.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Restaurante 7Grill</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unidade de Restauração que pertence a empresa J. Crisóstomo & Filhos-Lda, situado na Rua Neves Ferreira, S/N, e-mail: sevengrillcrisostomo@gmail.com,telemóveis: 923419575/ 939163535. Empreendimento criado em Dezembro de 2011, tem condições para apoio ao turista, apresenta serviços de alimentação, laser e ócio, têm Internet, entretenimento e parque infantil. Tem capacidade instalada para 20 mesas e 100 lugares, com a cobertura de 17 empregados dos quais 10 são do sexo feminino e tem ao dispor do cliente, um parque de estacionamento com capacidade para 50 viaturas.<br>

                <center>
                    <img src="FotosInfraTurCatumbela/foto3.png" alt="foto3.html">
                    <img src="FotosInfraTurCatumbela/foto4.png" alt="foto4.html">
                </center>


                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Restaurante e Geladaria Z & I</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Empreendimento que presta serviços de Restauração e Similares, da empresa Z E I Restaurante e Geladaria-Lda, situada na Rua Neves Ferreira, S/N, localizada (S12°26΄ 017´´; E 013°32΄.680´´). A empresa foi fundada a 11 de Novembro de 1992. O estabelecimento é conhecido pelo seu prestígio e fama tradicional, como produtora, do melhor gelado da província de Benguela.<br>

                <center>
                    <img src="FotosInfraTurCatumbela/foto5.png" alt="foto5.html">
                </center>


                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Snack- Bar e Esplanadas AAGAF</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Empreendimento de Restauração, propriedade da empresa AAGAF Comércio Geral e Decoração-Lda, situada na Rua Neves Ferreira (S12° 26΄ 114´´; E013°32΄865´´). E-mail:aagafcomerciogeral@gmail.com; terminais: 925876343/935167006. A empresa, para além da actividade principal de restauração, também presta serviço de laser e ócio e também, especialista na promoção de eventos, decorações e pastelaria, aliado a outros serviços de actividades complementares. Conta com um pessoal experiente capaz de corresponder com as expectativas do mercado. Tem 09 trabalhadores dos quais 6 são do sexo feminino.<br>

                    
                    <table border="1.0">
                        <tr>
                        <td><b>Proposta:</b><br>
                        &nbsp;Estudar a viabilidade em aumentar o espaço para ampliar o negócio, a fim de aumentar e melhorar os serviços.
                        </td>
                        </tr>
                        </table><br>

                <center>
                    <img src="FotosInfraTurCatumbela/foto6.png" alt="foto6.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Restaurante e Bar “La Rio”</strong></p>

                <center>
                    <img src="FotosInfraTurCatumbela/foto7.png" alt="foto7.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Pensão Adelg</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Localizada na Rua Ferreira do Amaral, em pleno centro da cidade, oferece serviços de hospedagem e de restauração. Conta com doze (12) quartos, seis (06) mesas e vinte e quatro (24) cadeiras. O empreendimento dispõe de serviços de Internet e sala de conferências, propriedade da Senhora Ana Delfina Guri. A empresária, têm projecto para ampliar as infraestruturas, na perspectiva de aumentar e melhorar a oferta de serviços de alojamento (quartos) e serviços complementares tais como: realizar excursões turísticas, promover eventos, cursos de formação e capacitação em vários domínios entre outros serviços afins.<br>

                <center>
                    <img src="FotosInfraTurCatumbela/foto8.png" alt="foto8.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Hotel Sídia</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estabelecimento hoteleiro, situado no bairro da Tata, rua Madre Efigénia (S- 12°25΄792´´; E013°32΄820´´, propriedade pertencente a empresa Sídia & Filhos-Lda, com os terminais telefónicos: 930 824 949. Para além do alojamento e restauração, a empresa também presta serviços de apoio aos turistas entre os quais cabe destacar, transporte, serviço de Internet, têm uma sala de conferências e dois parques de estacionamento com capacidade instalada para 30 viaturas. Relativo as ofertas de alojamento dispõem de tipologia de quartos com de padrões internacionais com preços competitivos. Quantitativamente são: 43 quartos, 49 camas, 11 mesas e 44 cadeiras. Quanto aos recursos humanos, dispõe de pessoal de excelência, num total de 15 funcionários, dos quais 8 são mulheres.<br>

                    <table border="1.0">
                        <tr>
                        <td><b>Proposta:</b><br>
                        &nbsp;Tratar de incluir serviços complementares (excursões turísticas e outros) para maior afluência. Em parceria com a Administração, tratar de melhorar o acesso através da Rua Madre Efigénia. 
                        </td>
                        </tr>
                        </table><br>    

                <center>
                    <img src="FotosInfraTurCatumbela/foto9.png" alt="foto9.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Pensão Katyoka</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Localizada no Bairro Tchyule III, zona típica de bairro da periferia. Oferece serviços de hospedagem e de restauração, conta com doze (10) quartos, seis (06) mesas e vinte e quatro (24) cadeiras, e um (1) salão para actividades recreativas. De momento, o empreendimento presta apenas de serviços de hospedagem e de restauração.<br>

                    <table border="1.0">
                        <tr>
                        <td><b>Proposta:</b><br>
                        &nbsp;Melhorar o acesso para o estabelecimento, já que se encontra até certo ponto numa localização geográfica relativamente favorável. Deve tratar de potenciar actividades relacionadas com excursões turísticas e ambientes festivos de salão.  
                        </td>
                        </tr>
                        </table><br>  

                    <center>
                    <img src="FotosInfraTurCatumbela/foto10.png" alt="foto10.html">
                    </center>
                

            </ul>
        </div>
        </body>
        </html>