<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>InfraTurComGama</title>
<link rel="stylesheet" href="style.css">
        
        </head>
        <body>
        
<div class="men">
    <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
    <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                 
    <div>
    <footer class="menu" style="text-align: center;">
                                
    <ul>
    <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
    <li><b>REGIÃO CENTRO/SUL</b>
    <ul>                                                                
    <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
    <li><a href="munBg.html">Benguela</a></li>
    <li><a href="">Namibe</a></li>
                                                  
    </ul>
    </li>	
    <li><b>POLITICAS DO TURISMO</b></li>
    <li><b>FALE CONNOSCO</b></li>
    </ul>
    </footer>
    </div>
                        
    <br><br><br><br><br><br>
        
    <nav class="lateral">
    <ul>
    <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
    <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
    <ul>
    <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
    <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
    <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
    <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
    <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
    <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
    </ul>
    </li>
    <li><b>Potencialidades Turísticas Locais</b>
    <ul>
    <li>Comuna da Catumbela
    <ul>
    <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Gama
    <ul>
    <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna da Praia Bebé
    <ul>
    <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Biópio
    <ul>
    <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
    </ul>
    </li>
    </ul>
                     
    <li><b>Diagnóstico e Estratégias de Actuação</b>
    </a><ul>
    <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
    <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
    </ul>
    </li>
    <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
    </ul>	
     </nav>
    </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
        <div class="texto">
            <ul>
                <font style="font-size:22pt" face="Arial black"><center>Infra-estruturas Turísticas de Apoio e Afins</center> </font><br>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Complexo Turístico Colina das Estrelas.</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complexo turístico localizado em plena cima da colina da Catumbela; espaço bem visível que se harmoniza na paisagem do lugar. <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;É um empreendimento turístico, pertencente à empresa privada denominada; Gabyland Comercial-Lda, situada na localidade de São Pedro Morro da Catumbela. Se apresenta como uma dos empreendimentos turísticos com excelentes condições de receptividade. Para além dos serviços de hotelaria (hospedagem) e de restauração, também presta serviços de transporte, Internet, ócio, lazer e recreação, têm um ginásio, sauna, ofertas de entretenimento, parque infantil, sala de conferências, entre outros. Quanto a oferta alojativa dispõem de 23 quartos, 28 camas com modelos diversificados, 25 mesas com 102 cadeiras e conta com um excelente efectivo de trabalhadores com diferentes formações ligadas à área de turismo entre os quais 36 são homens e 19 mulheres. Têm sido um dos promotores na organização dos roteiros turísticos da Catumbela.
                <br>            

                    <table border="1.0">
                        <tr>
                        <td><b>propostas:</b><br>
                        &nbsp;Adicionar aos serviços já existente, outros relativos ao turismo de desporto-aventura, pois o empreendimento situa-se numa posição geográfica privilegiada (colina) e nas proximidades do rio Catumbela. A exploração de roteiros e pacotes turísticos para o entretenimento (caminhadas), dos turistas pode ser um caminho promissor. A construção de uma zona de campismo, pode permitir a diversificação dos serviços diferenciados em função dos poderes aquisitivos dos potenciais turistas do turismo social, entre os quais jovens, grupos estudantis, religiosos, trabalhadores de grandes superfícies em férias e pontes.
                        </td>
                        </tr>
                        </table><br>

                <center>
                    <img src="FotosInfrTurGama/foto1.png" alt="foto1.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Hotel Riomar</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Imponente hotel de construção recente, localizado na encosta da colina da Catumbela. Chegou a funcionar, porém, se encontra actualmente, fora do circuito dos serviços turísticos. O Hotel Riomar dispunha de serviços de alojamento, restauração e disponibilizava acesso Wi-Fi gratuito, uma piscina exterior e um terraço para banhos de sol. Os hóspedes podem desfrutar de um bar no local. Está disponível estacionamento privativo gratuito no local.<br>
                    
                    <table border="1.0">
                        <tr>
                        <td><b>Proposta:</b><br>
                        &nbsp;Clamar que se resolvam os pendentes e incentivar potenciais investidores para que prontamente, se possa reactivar o funcionamento do empreendimento, a fim de contribuir para melhoria e aumento da oferta dos serviços hotelaria no município.
                        </td>
                        </tr>
                        </table><br>

                <center>
                    <img src="FotosInfrTurGama/foto2.png" alt="foto2.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Snack bar Cantinho do Morro</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espaço situado na Zona turística da Colina, conta com cinco (5) mesas e vinte (20) cadeiras e têm a disposição três (3) trabalhadores dos quais um homem. Se presta serviços de Restauração e bebidas.<br>

                <center>
                    <img src="FotosInfrTurGama/foto3.png" alt="foto3.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Centro Turístico e Cultural “Ondjango”</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;É um empreendimento localizado na Comuna do Gama, próximo da estação do CFB do Luhongo (12°27'32.24" Sul e 13°31'14.90") O estabelecimento é propriedade do Senhor Mário Makuwa, com os terminais telefónicos: 947323056 e 912952845. O Centro presta serviços hospedagem com 10 quartos e 10 camas todos com WC, serviços de restauração com 30 mesas e 120 cadeiras e lazer e recreação. Também dispõem de uma cabelereira, salão de festas, exibição de grupo de dança folclórica pertencente ao próprio centro, denominado “Octhikuwya”, que têm promovido uma série de actividades culturais. Conta por outro lado, de serviços de filmagens, reportagens e tradução. Para suportar os serviços, conta com um total de 11 trabalhadores, dos quais 6 são do sexo feminino.<br>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Pousada Kuyoya</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Empreendimento turístico localizado no Bairro 27, próximo da praia, propriedade das Organizações César & Companhia-Lda, sob gestão da Senhora Elvira Ngueve Mateus. A Unidade hoteleira oferece serviços de alojamento, restauração e laser. Possui quinze (15) quartos confortáveis, todos com WCs privativos. Conta com seis (6) trabalhadores dos quais dois (2) são do sexo masculino. Tem um parque de estacionamento para viaturas, uma área específica de lazer, têm uma loja de conveniência, serviços de Internet e lavandaria.<br>

                    <table border="1.0">
                        <tr>
                        <td><b>Proposta:</b><br>
                        &nbsp;Melhorar a área de lazer e recreação, potenciar o espaço periférico da praia, acondicionar sombras e cadeiras para os banhistas e realizar campanha de publicidade e marketing para promover o lugar.
                        </td>
                        </tr>
                        </table><br>

                <center>
                    <img src="FotosInfrTurGama/foto4.png" alt="foto4.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Hospedaria Rusilmar</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Empreendimento comercial e turístico, propriedade da Organização Rusilmar, sob questão do Senhor Rui da Silva Marques, localizada no Bairro do Luhongo. Presta serviços de alojamento e restauração, conta com seis (6) quartos com WC privativo e oito (8) quartos com três WCs, totalizando catorze (14) quartos. Quanto ao pessoal compreende seis (6), dos quais quatro (4) senhoras.<br>

                    <table border="1.0">
                        <tr>
                        <td><b>Proposta:</b><br>
                        &nbsp;Melhorar a área de lazer e criar condições para prestar serviços de bar e discoteca. Deve fazer-se algum investimento e realizar campanha de publicidade e marketing para promover o lugar.
                        </td>
                        </tr>
                        </table><br>

                <center>
                    <img src="FotosInfrTurGama/foto5.png" alt="foto5.html">
                </center>


               
                

            </ul>
        </div>
        </body>
        </html>