<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Prop&Estract</title>
    <link rel="stylesheet" href="style.css">
        
</head>
<body>
   
    <div class="men">
        <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                    
        <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                     
        <div>
        <footer class="menu" style="text-align: center;">
                                    
        <ul>
        <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
        <li><b>REGIÃO CENTRO/SUL</b>
        <ul>                                                                
        <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
        <li><a href="munBg.html">Benguela</a></li>
        <li><a href="">Namibe</a></li>
                                                      
        </ul>
        </li>	
        <li><b>POLITICAS DO TURISMO</b></li>
        <li><b>FALE CONNOSCO</b></li>
        </ul>
        </footer>
        </div>
                            
        <br><br><br><br><br><br>
            
        <nav class="lateral">
        <ul>
        <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
        <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
        <ul>
        <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
        <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
        <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
        <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
        <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
        <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
        </ul>
        </li>
        <li><b>Potencialidades Turísticas Locais</b>
        <ul>
        <li>Comuna da Catumbela
        <ul>
        <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
        <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
        </ul>
        </li>
                             
        <li>Comuna do Gama
        <ul>
        <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
        <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
        </ul>
        </li>
                             
        <li>Comuna da Praia Bebé
        <ul>
        <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
        <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
        </ul>
        </li>
                             
        <li>Comuna do Biópio
        <ul>
        <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
        </ul>
        </li>
        </ul>
                         
        <li><b>Diagnóstico e Estratégias de Actuação</b>
        </a><ul>
        <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
        <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
        </ul>
        </li>
        <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
        </ul>	
         </nav>
        </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
    <div class="texto">
        <ul>
            <font style="font-size:22pt" face="Arial black"><center>Propostas e Estratégias para Potenciar o Turismo no Município</center></font><br>

            <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O inventário permitiu determinar que o território apresenta valiosos recursos turísticos que permitem potenciar fundamentalmente, o <i>“Turismo de Natureza; Turismo nos Espaços Rurais”</i> e o Turismo Cultural e modalidades associadas. Nesta perspectiva, urge trabalhar intensamente nas seguintes direcções:<br>

            <p style="font-size: 15pt;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*	Implementar como primeira acção do plano, a <i>estratégia de divulgação, promoção e marketing</i><sup id="cite_ref-Inm_19-0" class="reference"><a href="#cite_note-Inm-19"><span>[</span>19<span>]</span></a></sup>, com o objectivo principal, o de dar a conhecer a população, turistas e empresários em primeira mão, as potencialidades turísticas por comunas identificadas. O programa deve ser realista, destacar apenas o que existe, tal como está e perspectivar o futuro tendo em conta a realidade local e os pilares da sustentabilidade. <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*	Atrair para o município (comunas), investimentos para aumentar, diversificar e melhorar a oferta de alojamento de baixo custo (pensões, campismo e outras formas ajustadas ao turismo social). A restauração também deve seguir caminho idêntico, pois a escassa oferta de infraestruturas que prestam estes serviços, transformam a Catumbela, apenas como um ponto de passagem de turistas, e não de permanência; <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Melhorar as estadas de acesso para as comunas (Gama, Praia Bebé e Biópio). Nestas localidades, há que melhorar também, os acessos aos atractivos turísticos de referência, inventariados;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*	Estimular a cooperação e/ou parceria público-privada, pois no contexto local e actual é determinante para o êxito das actuações no processo de planificação e gestão do espaço territorial turístico (porque não partilhar a reabilitação e gestão de alguns patrimónios e/ou ceder a gestão aos privados pela via de acordos e/ou contratos a tempo);<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*	No âmbito da estratégia de promoção e marketing turístico, elaborar calendários de eventos comunais que integra os roteiros de visitação dos principais atractivos (maravilhas) em articulação com os operadores turísticos e agências de viagens nacionais;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*	Criar programas de interpretação natural-cultural, para que os lugares turísticos sejam contemplados (visitados). Priorizar o desenho das trilhas de caminhadas temáticas e sua sinalização nos lugares potenciais do território (roteiro do Açude e outros). As peregrinações, podem agregar valor ao turismo religioso;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*	Apostar na educação ambiental, sensibilização e preservação do <i>“património natural, histórico-monumental e cultural”</i> das localidades, envolvendo a população residente (comunidades), turistas e operadores de turismo;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*	Apostar seriamente, na melhoria contínua do fornecimento da energia eléctrica (ligações domiciliares), água e saneamento básico das localidades de destino (bairros). <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*	Elaborar em articulação com as autoridades tradicionais e Igrejas locais, um calendário dos eventos culturais e religiosos (peregrinações e festivos tradicionais). 
        </p>
        
        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As propostas, requerem por parte dos diferentes actores e intervenientes no sistema turístico local; uma coordenação na perspectiva de que os planos sejam o resultado da participação activa e dinámica de todos, para se evitar a exclusão, e que os programas e projectos sejam coerentes e funcionais, pois na maioria das vezes, os planos (programas), são um fracasso porque são elaborados por expertos foráneos sem o conhecimento da realidade local e sem consultar e ouvir a opinião e participação dos actores e da cidadania.
        </p>
        <br><br><br><br>                        
          
        <hr><hr><p><i justify style="font: size 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup id="cite_ref-Inm_19-0" class="reference"><a href="#cite_note-Inm-19"><span>[</span>19<span>]</span></a></sup>Estratégias de divulgação, publicidade, promoção e marketing turístico da comuna da Catumbela (2022).
    
        </div>
    </body>
    </html>