<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>RecTurCultComGama</title>
<link rel="stylesheet" href="style.css">
        
        </head>
        <body>
       
<div class="men">
    <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
    <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                 
    <div>
    <footer class="menu" style="text-align: center;">
                                
    <ul>
    <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
    <li><b>REGIÃO CENTRO/SUL</b>
    <ul>                                                                
    <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
    <li><a href="munBg.html">Benguela</a></li>
    <li><a href="">Namibe</a></li>
                                                  
    </ul>
    </li>	
    <li><b>POLITICAS DO TURISMO</b></li>
    <li><b>FALE CONNOSCO</b></li>
    </ul>
    </footer>
    </div>
                        
    <br><br><br><br><br><br>
        
    <nav class="lateral">
    <ul>
    <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
    <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
    <ul>
    <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
    <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
    <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
    <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
    <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
    <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
    </ul>
    </li>
    <li><b>Potencialidades Turísticas Locais</b>
    <ul>
    <li>Comuna da Catumbela
    <ul>
    <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Gama
    <ul>
    <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna da Praia Bebé
    <ul>
    <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Biópio
    <ul>
    <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
    </ul>
    </li>
    </ul>
                     
    <li><b>Diagnóstico e Estratégias de Actuação</b>
    </a><ul>
    <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
    <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
    </ul>
    </li>
    <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
    </ul>	
     </nav>
    </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
        <div class="texto">
            <ul>
                <font style="font-size:22pt" face="Arial black"><center>Recursos Turísticos Culturais</center> </font><br>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Barraca do Artesão (Cestaria)</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Localizada no do bairro do Luhongo, margem da Estrada Nacional Nº 100 (S12º 19´683´´; E13º31´10´´). Ocupa uma área estratégica, visível para os viajantes nos dois sentidos: Catumbela-Benguela e vice-versa. É um lugar de venda de produtos artesanais entre as quais se destacam: cestos, vasos de cimento, gaiolas para aves e outros produtos, inclusive a venda de aves.<br>
                
                <table border="1.0">
                <tr>
                <td><b>Propostas:</b><br>
                &nbsp;Organizar os artesãos e vendedores em cooperativas. Estudar a viabilidade em restaurar e melhorar o espaço a fim de dignificar esta classe artística.
                </td>
                </tr>
                </table><br>
                <center>
                    <img src="FotosRecturCultGama/foto13.png" alt="foto13.html">
                </center>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entre as principais manifestações culturais identificadas na comuna da Gama, se destacam os vários tipos de danças tradicionais entre os quais afiguram:<br>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Olundongo: </b> É comum os criadores de gado utilizarem essa dança nos seus rituais.</p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Otchipuete:</b>Uma dança tradicional simples realizável na época da lua-cheia.</p>  
                    
                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Ondjando: </b>Dança utilizada nas festas e/ou cerimónias dos adolescentes e jovens circuncidados. Constitui um momento marcante na preparação dos jovens para a vida activa.</p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Tchindungue:</b>Utilizado nos casamentos tradicionais traduzidos em alambamentos, aniversários, registos de nascimento, entre outros.</p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Folclore: </b>Destaca-se algumas danças e crenças em outros valores tradicionais. Porém, nota-se a perda paulatina de algumas manifestações culturais, tal é o caso da famosa dança do Otchingandji.</p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Gastronomia:</b>Os pratos típicos tradicionais mais comuns, e que constituem a dieta alimentar dos povos na localidade, são fundamentalmente o funje de milho acompanhado com lombís, peixe, feijão e carne, a batata-doce e mandioca e outros acompanhantes e pratos.</p>

                </ul>
        </div>
        </body>
        </html>