<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>RecTurHistMonComBiópio</title>
<link rel="stylesheet" href="style.css">
        
        </head>
        <body>
     
<div class="men">
    <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
    <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                 
    <div>
    <footer class="menu" style="text-align: center;">
                                
    <ul>
    <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
    <li><b>REGIÃO CENTRO/SUL</b>
    <ul>                                                                
    <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
    <li><a href="munBg.html">Benguela</a></li>
    <li><a href="">Namibe</a></li>
                                                  
    </ul>
    </li>	
    <li><b>POLITICAS DO TURISMO</b></li>
    <li><b>FALE CONNOSCO</b></li>
    </ul>
    </footer>
    </div>
                        
    <br><br><br><br><br><br>
        
    <nav class="lateral">
    <ul>
    <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
    <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
    <ul>
    <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
    <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
    <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
    <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
    <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
    <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
    </ul>
    </li>
    <li><b>Potencialidades Turísticas Locais</b>
    <ul>
    <li>Comuna da Catumbela
    <ul>
    <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Gama
    <ul>
    <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna da Praia Bebé
    <ul>
    <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Biópio
    <ul>
    <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
    </ul>
    </li>
    </ul>
                     
    <li><b>Diagnóstico e Estratégias de Actuação</b>
    </a><ul>
    <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
    <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
    </ul>
    </li>
    <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
    </ul>	
     </nav>
    </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
        <div class="texto">
            <ul>
                <font style="font-size:22pt" face="Arial black"><center>Recursos Turísticos Histórico-monumentais</center> </font><br>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Capela da Nossa Senhora Aparecida</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Património da Igreja Católica, situado no sopé da colina que envolve o lugar e zonas adjacentes. (S12º28´085´´; E083º43´892´´). É uma obra de arquitectura colonial religiosa, construida em 1940. Para além do seu valor patrimonial, a Capela foi importante veículo da evangelização na localidade e cumpriu com a sua função social relacionado com a cultura da fé cristã. Esta obra de pequena magnitude localizada a SE da sede, se encontra em mau estado de conservação e praticamente abandonada.<br>

                    <table border="1.0">
                        <tr>
                        <td><b>Propostas:</b><br>
                        &nbsp;Deve-se reabilitar o património e colocar a disposição dos fieis da igreja Católica. É importante delimitar uma zona de segurança, envolvendo parte da área adjacente e melhorar a via de acesso. No espaço periférico, pode-se acomodar no lugar, uma zona adequada para realizar pequenos acampamentos de peregrinos, pois se trata de um activo potencial para o turismo religioso. No cimo da colina, pode-se eventualmente, instalar um mirador já que deste ponto, se pode visualizar uma vista parcial interessante do serpentear do rio e dos bairros que circundam a localidade.
                        </td>
                        </tr>
                        </table><br>
                
                <center>
                    <img src="FotosRecTurHistMonBiópio/foto1.png" alt="foto1.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Antigo Hospital do Biópio</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Infra-estrutura social pública,construído em 1958. Este edifício colonial, funcionou como um centro de saúde de referência, prestando serviços de apoio à comunidade local quanto à assistência médica e medicamentosa. (S:12º28´046´´; E013º44´010´´). Hoje o hospital encontra-se em avançado estado de degradação, carecendo de reabilitação.<br>

                    <table border="1.0">
                        <tr>
                        <td><b>Proposta:</b><br>
                        &nbsp;Reabilitar e apetrechar a infra-estrutura para aumentar e melhorar a rede de prestação de saúde a favor do bem-estar das comunidades locais e eventuais visitantes.
                        </td>
                        </tr>
                        </table><br>  

                <center>
                    <img src="FotosRecTurHistMonBiópio/foto2.png" alt="foto2.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Rotunda do Biópio</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Este interessante lugar, debe ser incluido no grupo dos Monumentos históricos de referencia da localidade do Biópio. Está situada à entrada, da ponte sobre o Rio Catumbela (S12º22´503´´; 13º31´080´´E). No atractivo, se destaca no centro, um marco onde se pode visualizar e ler alguns textos, em forma de citações, de autoria do famoso administrador colonial, Oliveira Salazar.<br>
                
                <table border="1.0">
                <tr>
                <td><b>Proposta:</b><br>
                &nbsp;O lugar se encontra em mau estado de conservação, carecendo de intervenção para sua reabilitação. Pode-se melhorar o espaço actravés de plantação de árvores e acomodar um jardim a fim de tornar o lugar mais atraente.
                </td>
                </tr>
                </table><br>
                <center>
                    <img src="FotosRecTurHistMonBiópio/foto3.png" alt="foto3.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Central Hidroelétrica</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Obra de engenharia civil sob gestão da empresa PRODEL, fundada em 1956. A infraestructura fornece energía eléctrica a cidade do Lobito e constitui um atractivo turístico de referencia na localidade, devido a sua magnitude e importancia económica (S12º28´087´´; E013º43´583´´). O lugar é frequentado por muitos visitantes, apesar de estar de momento, paralisada reflexo do estado de degradação da estructura da barragem. Importa realçar que sua estrutura física já antiga, carece de reabilitação e equipamentos modernos, por forma a aumentar e melhorar a oferta no fornecimento de energia eléctrica ao município.<br>
                
                <center>
                    <img src="FotosRecTurHistMonBiópio/foto4.png" alt="foto4.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Central Térmica do Biópio</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estructura física construida em 1974 (S12º28´769´´; E 013º43´392´´). Apesar de estar inoperante por avaria técnica,se encontra em bom estado de conservação e pode eventualmente, ser activada caso a empresa gestora, a PRODEL, julgue conveniente, para aumentar a capacidade instalada de fornecimento de energia eléctrica ao município do Lobito.<br>
                
                <center>
                    <img src="FotosRecTurHistMonBiópio/foto5.png" alt="foto5.html">
                </center>
                        
                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Barragem do Biópio</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Obra de engenharia civil de grande magnitude e singular, construida em 1956, situado no Rio da Catumbela. É um activo de grande valor económico porque garante o fornecimento de água à hidroeléctrica. Propriedade do estado sob a gestão da PRODEL (S12º28´ 220´´; E13º43´926´´). A obra se insere em prefeita harmonia na paisagem do lugar, transformando-o num atractivo turístico muito visitado.<br>

                    <table border="1.0">
                        <tr>
                        <td><b>Proposta:</b><br>
                        &nbsp; Julgamos ser urgente a reabilitação da estrutura física, na perspectiva de colocá-lo ao serviço da hidroeléctrica a fim de reiniciar o fornecimento de energia eléctrica e aumentar a rede eléctrica da província.
                        </td>
                        </tr>
                        </table><br>
                                   
                <center>
                    <img src="FotosRecTurHistMonBiópio/foto6.png" alt="foto6.html">
                    <img src="FotosRecTurHistMonBiópio/foto7.png" alt="foto7.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Conjunto de Infraestruturas sociais</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Este complexo construído em 1958, se situa em plena cima da elevação (colina) localizado à entrada da localidade (S12º 28´046´´; E 013º 44´010´´). Constitui na prática, um aldeamento integrado por casas para albergar trabalhadores, um refeitório, uma pousada para alojamento de visitantes e uma escola com uma sala de aulas.<br>
                
                <table border="1.0">
                <tr>
                <td><b>Proposta:</b><br>
                &nbsp;Reabilitar o complexo, com especial referência a pousada como uma infraestrutura de serviço de alojamento e restauração para acomodar potenciais turistas que visitam a localidade.
                </td>
                </tr>
                </table><br>
                <center>
                    <img src="FotosRecTurHistMonBiópio/foto8.png" alt="foto8.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Bomba de Captação de Água</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lugar localizado na zona do Baixo Pundo, na aldeia do Chimama, precisamente a 2,4 km do asfalto. Foi construída em 2012, a fim de minimizar a carência de água às populações. A obra foi vandalizada por marginais e está inoperante há pouco mais de um ano o que priva a população deste bem essencial.<br>
                
                <table border="1.0">
                <tr>
                <td><b>Proposta:</b><br>
                &nbsp;Reabilitar a estrutura física e o equipamento para repor a funcionalidade para satisfazer as necessidades básicas de água potável a população local.
                </td>
                </tr>
                </table><br>
            

                <br><br><br><br><br>
                <hr><hr><i style="font-size: 10pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup id="cite_ref-Inm_11-0" class="reference"><a href="#cite_note-Inm-11"><span>[</span>11<span>]</span></a></sup>Conforme consta da placa existente no edifício.</i><br>
                <i style="font-size: 10pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup id="cite_ref-Inm_12-0" class="reference"><a href="#cite_note-Inm-12"><span>[</span>12<span>]</span></a></sup>O nome do Capataz Gama, está associado a génese do nome da Comuna “ Gama”.</i><br>


                </ul>
                </div>
                </body>
                </html>