<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>RecTurHistMonPraiaBebé</title>
<link rel="stylesheet" href="style.css">
        
        </head>
        <body>
       
<div class="men">
    <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
    <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                 
    <div>
    <footer class="menu" style="text-align: center;">
                                
    <ul>
    <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
    <li><b>REGIÃO CENTRO/SUL</b>
    <ul>                                                                
    <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
    <li><a href="munBg.html">Benguela</a></li>
    <li><a href="">Namibe</a></li>
                                                  
    </ul>
    </li>	
    <li><b>POLITICAS DO TURISMO</b></li>
    <li><b>FALE CONNOSCO</b></li>
    </ul>
    </footer>
    </div>
                        
    <br><br><br><br><br><br>
        
    <nav class="lateral">
    <ul>
    <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
    <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
    <ul>
    <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
    <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
    <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
    <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
    <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
    <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
    </ul>
    </li>
    <li><b>Potencialidades Turísticas Locais</b>
    <ul>
    <li>Comuna da Catumbela
    <ul>
    <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Gama
    <ul>
    <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna da Praia Bebé
    <ul>
    <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Biópio
    <ul>
    <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
    </ul>
    </li>
    </ul>
                     
    <li><b>Diagnóstico e Estratégias de Actuação</b>
    </a><ul>
    <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
    <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
    </ul>
    </li>
    <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
    </ul>	
     </nav>
    </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
        <div class="texto">
            <ul>
                <font style="font-size:22pt" face="Arial black"><center>Recursos Turísticos Histórico-monumentais</center> </font><br>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Complexo Escolar BG 0020 11 de Novembro</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A Infraestrutura física de arquitectura colonial, construída em 1953 e serviu de residência do Senhor Domingos Fançony Morais “Sr. Bebé”, uns dos primeiro morador português na zona. Devido a expansão demográfica da localidade, a residência foi ampliada e transformada num estabelecimento de ensino escolar de referência.<br>
                
                <center>
                    <img src="FotosRecTurHistMonPraiaBebé/foto1.png" alt="foto1.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Antigo Posto de Enfermagem</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Infraestrutura social que serviu de apoio aos trabalhadores da antiga fábrica da Açucareira do Cassequel (S12º24´662´´; E013º 29914´´). Actualmente, o espaço é utilizado como residência particular.<br>

                <center>
                    <img src="FotosRecTurHistMonPraiaBebé/foto2.png" alt="foto2.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Cambrimão</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ugar de referência na localidade, fundada em 1953, situado em plena praia, dentro do marco da antiga Base Central de Abastecimento (BCA), onde existia um cais. Mais tarde, o lugar se transformou numa Escola de Formação da Base Naval da Marinha de Guerra de Angola (S12º24’662´´; E013º29´914´´). O lugar é um marco histórico importante pois serviu de ponto de embarque de escravos provenientes do interior do país sobre tudo do Bié e Huambo e eram transportados em caravelas para as Américas.<br>
                
                <table border="1.0">
                <tr>
                <td><b>Propostas:</b><br>
                &nbsp; É urgente proteger os restos dos escombros que ainda persistem, demarcar o lugar (sítio) pois se encontra em degradação contínua, praticamente em vias de extinção eminente e provavelmente, em menos de cinco (5) anos o que resta, vai desaparecer por completo, sob o olhar impávido de todos, principalmente das autoridades da cultura.
                </td>
                </tr>
                </table><br>
                <center>
                    <img src="FotosRecTurHistMonPraiaBebé/foto3.png" alt="foto3.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Compão 1</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Foi um conjunto de casas utilizado pelos trabalhadores da antiga Companhia Agrícola Açucareira do Cassequel, fundada em 1953. Actualmente é usada como residência dos populares.<br>
                
                <center>
                    <img src="FotosRecTurHistMonPraiaBebé/foto4.png" alt="foto4.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Compão 2</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Foi um conjunto de casas dos trabalhadores da Companhia Agrícola Açucareira do Cassequel, fundada em 1951. Foi invadida e actualmente serve de residência das populações.<br>
                
                    <table border="1.0">
                            <tr>
                            <td><b>Propostas:</b><br>
                            &nbsp;Estudar a viabilidade em reabilitar os edifícios mantendo a estrutura arquitectónica original na perspectiva de conservar e servir de memória do antigo património da antiga fábrica da Açucareira do Cassequel.
                            </td>
                            </tr>
                            </table><br>
                        
                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Antiga Estação do Caminho-de-Ferro de Benguela (1903-1905)</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Obra arquitectónica tipicamente colonial, singular e simbólica que se funde com o surgimento da vila da Catumbela. Estava situado precisamente no mesmo lugar onde se encontra a actual estação ferroviária, junto da Estrada Nacional Nº 100 (S12º26´249´´; 13º32´502´´). Infraestrutura de referência que prestou serviços de apoio à transportação de pessoas e bens ao longo de várias gerações.<br>
                
                <center>
                    <img src="FotosRecTurHistMonPraiaBebé/foto5.png" alt="foto5.html">
                    <img src="FotosRecTurHistMonPraiaBebé/foto6.png" alt="foto6.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Fábrica da Açucareira do Cassequel (Século XIX)</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edifício património da antiga fábrica de açúcar do Cassequel, está localizado na posição Ocidental junto ao Rio Catumbela, precisamente ao lado esquerdo da via em direcção as fábricas de refrigerantes Coca-Cola e Cuca. A fábrica desempenhou um papel importante na produção de açúcar nos tempos áureos, funcionando até meados dos anos oitenta (12º 26´246´´S e 13º 32´502´´E). O edifício foi reabilitado e se encontra em bom estado de conservação.<br>
                
                <table border="1.0">
                <tr>
                <td><b>Proposta:</b><br>
                &nbsp;Manter e proteger os rasgos arquitectónicos que o caracteriza como património de arquitectura colonial singular. Deve fazer parte do roteiro turístico histórico-monumental da sede da Catumbela.
                </td>
                </tr>
                </table><br>
                <center>
                    <img src="FotosRecTurHistMonPraiaBebé/foto7.png" alt="foto7.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Antiga Fábrica da Açucareira do Cassequel</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Património de arquitectura colonial, foi propriedade da Companhia Agrícola Açucareira do Cassequel fundado em 1950, está situado próximo da fábrica Soba Catumbela (S12º.26´277´´; E013º31´316´´). A fábrica funcionou até meados de 1959, tendo sido desactivada em 1960, altura que entra em funcionamento a nova fábrica. Actualmente serve de residência da população.<br>
                
                <table border="1.0">
                <tr>
                <td><b>Proposta:</b><br>
                &nbsp;O ideal é num futuro próximo, ser reabilitado como património adstrita a antiga fábrica do Cassequel.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                </tr>
                </table><br>
                <center>
                    <img src="FotosRecTurHistMonPraiaBebé/foto8.png" alt="foto8.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Ponte Antiga do Caminho-de-Ferro</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Esta ponte se situa próximo da actual ponte do Caminho-de-ferro de Benguela, paralelamente a antiga ponte rodoviária. Construída quando se fez o primeiro trecho da ferrovia, que tinha o nome de Caminho de Ferro Benguela-Catumbela no ano de 1883, numa extensão de 23 km que servira de ligação entre Catumbela e Benguela. Se encontra em estado de conservação aceitável e foi muito utilizada no seu tempo, antes de ser construída a ponte actual, de arquitectura moderna.<br>
                
                <table border="1.0">
                <tr>
                <td><b>Propostas:</b><br>
                &nbsp;Manter a sua conservação como património e colocá-la na rede de lugares de visitação no roteiro histórico-monumental da vila.
                </td>
                </tr>
                </table><br>
                <center>
                    <img src="FotosRecTurHistMonPraiaBebé/foto9.png" alt="foto9.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Capela São José</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A pequena capela da Igreja Católica, foi fundada em 1952, pelo padre Sueco Emílio Friek. Serviu de culto às comunidades de trabalhadores da Açucareira, no resgate dos valores morais e religiosos dos fiéis (S12º26´318´´; E013º 31´397´´). Em homenagem aos serviços do Sacerdote Sueco, existe na Catumbela, um Liceu com o seu nome.<br>

                    <table border="1.0">
                        <tr>
                        <td><b>Propostas:</b><br>
                        &nbsp;Estudar a viabilidade em reabilitar a infraestrutura, mantendo a arquitectura original simbólica, para continuar a servir de culto a Deus pelas comunidades. 
                        </td>
                        </tr>
                        </table><br>
                
                <center>
                <img src="FotosRecTurHistMonPraiaBebé/foto10.png" alt="foto10.html">
                </center>

                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Compão do Ussolo</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conjunto de casas que serviu de residência dos trabalhadores da Companhia Agrícola da Açucareira do Cassequel, onde ainda persistem escombros de uma pequena e antiga Capela. No lugar, se encontra instalada provisoriamente o Centro de Formação Básica Profissional Agrário do Litoral de Benguela (UNACA), criada em 2008 e que alberga associados da Cooperativa Agrícola da Mulher Rural da Catumbela na Praia do Bebé.<br>
                
                <center>
                <img src="FotosRecTurHistMonPraiaBebé/foto11.png" alt="foto11.html">
                </center>
               
                <p style="font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Cemitério da Catumbela</strong></p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Este importante lugar sagrado, onde descansam figuras ilustres de Benguela, está localizado junto da via ferroviária que atravessa a vila, ao lado da estrada nacional Nº 100 (S12º25´439``; E13º32´ 306``). A sua fundação data entre os anos 20 e 40 do Século XX. É na actualidade, o principal cemitério utilizado pala população dos municípios do Lobito e da Catumbela.<br>
                
                <table border="1.0">
                <tr>
                <td><b>Proposta:</b><br>
                &nbsp;Pela sua importância histórico-social, o lugar necessita com urgência, um plano de restauração a fim de repor a dignidade que merece. O sítio pode ser enquadrado no roteiro do turismo histórico-cultural e do turismo escuro.
                </td>
                </tr>
                </table><br>
                <center>
                <img src="FotosRecTurHistMonPraiaBebé/foto12.png" alt="foto12.html">
                </center>

                	





                <br><br><br><br><br>
                <hr><hr><i style="font-size: 10pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup id="cite_ref-Inm_11-0" class="reference"><a href="#cite_note-Inm-11"><span>[</span>11<span>]</span></a></sup>Conforme consta da placa existente no edifício.</i><br>
                <i style="font-size: 10pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup id="cite_ref-Inm_12-0" class="reference"><a href="#cite_note-Inm-12"><span>[</span>12<span>]</span></a></sup>O nome do Capataz Gama, está associado a génese do nome da Comuna “ Gama”.</i><br>


                </ul>
                </div>
                </body>
                </html>