<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>RecTurCultPraiaBebé</title>
<link rel="stylesheet" href="style.css">
        
        </head>
        <body>
       
<div class="men">
    <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                
    <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                 
    <div>
    <footer class="menu" style="text-align: center;">
                                
    <ul>
    <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
    <li><b>REGIÃO CENTRO/SUL</b>
    <ul>                                                                
    <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
    <li><a href="munBg.html">Benguela</a></li>
    <li><a href="">Namibe</a></li>
                                                  
    </ul>
    </li>	
    <li><b>POLITICAS DO TURISMO</b></li>
    <li><b>FALE CONNOSCO</b></li>
    </ul>
    </footer>
    </div>
                        
    <br><br><br><br><br><br>
        
    <nav class="lateral">
    <ul>
    <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
    <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
    <ul>
    <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
    <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
    <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
    <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
    <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
    <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
    </ul>
    </li>
    <li><b>Potencialidades Turísticas Locais</b>
    <ul>
    <li>Comuna da Catumbela
    <ul>
    <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Gama
    <ul>
    <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna da Praia Bebé
    <ul>
    <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
    <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
    </ul>
    </li>
                         
    <li>Comuna do Biópio
    <ul>
    <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
    <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
    <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
    </ul>
    </li>
    </ul>
                     
    <li><b>Diagnóstico e Estratégias de Actuação</b>
    </a><ul>
    <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
    <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
    </ul>
    </li>
    <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
    </ul>	
     </nav>
    </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
        <div class="texto">
            <ul>
                <font style="font-size:22pt" face="Arial black"><center>Recursos Turísticos Culturais</center> </font><br>
              
                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Caningola:</b> Tipo de dança em que os dançarinos envolvem-se em círculo e entrando na roda um de cada vez.</p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Tchipuete e rebita:</b> Dança do género tradicional simples que se realiza normalmente na época da lua-cheia.</p>  
                    
                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Ukongo e Epuita:</b> Dança de ritual utilizada nas festas e/ou cerimónias dos adolescentes e jovens circuncidados, que constitui um momento marcante na preparação dos jovens para a vida activa.</p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Tchindungue:</b> Dança típica para ocasião de casamentos tradicionais (alambamentos), aniversários, registos de nascimentos, entre outros actos.</p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Folclore:</b> Está expresso nas danças e crenças em outros valores tradicionais. Porém, nota-se a perda paulatina de algumas manifestações culturais como é o caso da dança do Tchingandji.</p>

                <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Gastronomia:</b> Os pratos tradicionais mais comuns, que completam a dieta alimentar dos povos na localidade, são fundamentalmente o funje de milho acompanhado com lombís, peixe, feijão e carne; batata-doce e mandioca ou outros acompanhantes.</p>
                </ul>
        </div>
        </body>
        </html>