<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>RelevMorf</title>
    <link rel="stylesheet" href="style.css">
        
</head>
<body>
   
    <div class="men">
        <p align="left"><font size ="6.5" color ="white" face="Arial black"><b>ETUR</b></font>  <font size ="4.5" color ="white" face="TIMES NEW ROMAN">ESTUDOS TURÍSTICOS REGIONAIS</font>
                    
        <font size="3" color="snow" face=" Times New Roman">| &nbsp;CATUMBELA</font>
                     
        <div>
        <footer class="menu" style="text-align: center;">
                                    
        <ul>
        <li><a href="paginic.html"><b>PÁGINA INICIAL</b></a></li>
        <li><b>REGIÃO CENTRO/SUL</b>
        <ul>                                                                
        <li><a href="munC.Sul.html">Cuanza-Sul</a></li>
        <li><a href="munBg.html">Benguela</a></li>
        <li><a href="">Namibe</a></li>
                                                      
        </ul>
        </li>	
        <li><b>POLITICAS DO TURISMO</b></li>
        <li><b>FALE CONNOSCO</b></li>
        </ul>
        </footer>
        </div>
                            
        <br><br><br><br><br><br>
            
        <nav class="lateral">
        <ul>
        <li><a href="RefHistCatumbela.html"><b>Breve referência histórica do município da Catumbela</b></a></li>
        <li><b>Características Físico-Económico e Geográfico da Comuna do Dombe Grande</b>
        <ul>
        <li><a href="SitGeografica.html">Situação geográfica e limites territoriais</a></li>
        <li><a href="RelevMorf.html">Relevo e geomorfología</a></li>
        <li><a href="AspClim&Hidrog.html">Aspectos climáticos e hidrografía</a></li>
        <li><a href="CaratFauna&Flora.html">Características da flora e da fauna</a></li>
        <li><a href="AspSocDemo&Eco.html">Aspectos socio demográficos e económicos</a></li>
        <li><a href="AgricIndustr&Pesca.html">Agricultura, Indústria e Pesca</a></li>
        </ul>
        </li>
        <li><b>Potencialidades Turísticas Locais</b>
        <ul>
        <li>Comuna da Catumbela
        <ul>
        <li><a href="RecTurNatComCatumbela.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonComCatumbela.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultComCatumbela.html"> Recursos Turísticos Culturais</a></li>
        <li><a href="InfraTurComCatumbela.html"> Infraestructuras Turísticas</a></li>
        </ul>
        </li>
                             
        <li>Comuna do Gama
        <ul>
        <li><a href="RecTurNatComGama.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonComGama.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultComGama.html"> Recursos Turísticos Culturais</a></li>
        <li><a href="InfraTurComGama.html"> Infraestructuras Turísticas</a></li>
        </ul>
        </li>
                             
        <li>Comuna da Praia Bebé
        <ul>
        <li><a href="RecTurNatPraiaBebé.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonPraiaBebé.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultPraiaBebé.html"> Recursos Turísticos Culturais</a></li>
        <li><a href="InfraTurPraiaBebé.html"> Infraestructuras Turísticas</a></li>
        </ul>
        </li>
                             
        <li>Comuna do Biópio
        <ul>
        <li><a href="RecTurNatComBiópio.html"> Recursos Turísticos Naturais</a></li>
        <li><a href="RecTurHistMonComBiópio.html"> Recursos Turísticos histórico-monumetais</a></li>
        <li><a href="RecTurCultComBiópio.html"> Recursos Turísticos Culturais</a></li>
        </ul>
        </li>
        </ul>
                         
        <li><b>Diagnóstico e Estratégias de Actuação</b>
        </a><ul>
        <li><a href="DiagSectTur.html"> Diagnóstico do sector do turismo local</a></li>
        <li><a href="Prop&Estract.html"> Propostas e estratégias para potenciar o turismo na comuna</a></li>
        </ul>
        </li>
        <li><a href="ClonclusãoFinais.html"> <b>Conclusões Finais</b></a></li>
        </ul>	
         </nav>
        </div>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
<div class="texto"> 
    <ul>
        <font style="font-size:22pt" face="Arial black"><center>GEOLOGIA, GEOMORFOLOGIA E RELEVO</center> </font><br>
        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A bacia sedimentar de Benguela corresponde à idade Cretácica. As rochas que afloram nos municípios em estudo são as do Albiano Superior (Alb3) (calcários, calcários dolomíticos, calcários margosos e margas). Nesta área afloram também rochas do Apciano Superior, que entram em contacto com as rochas mais recentes através de uma falha de direcção NNE-SSW caracterizada por uma grande escarpa (Figura 6). É nesta escarpa que se desenvolve o delta do Catumbela, onde ocorrem sedimentos areno-argilosos.</p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Os depósitos de terraços marinhos desenvolvem-se na zona de Moçâmedes, “nas proximidades da cidade de Benguela e Lobito, onde ocorrem nos terraços marinhos de abrasão com cotas de 8-13 m, 18-29 m, 45-50 m, 93-95 m e 165-175 m”. O rio Catumbela corre na maior parte do seu percurso em canhão apertado. O seu leito é caracterizado por vários degraus acerca de 10 km da foz, entra na sua planície aluvionar, separada dos calcários cretácicos por escarpa de falha. A taxa de sedimentação é superior à taxa de evacuação dos sedimentos devido à relação entre a morfologia pelo facto de o rio transportar uma elevada carga durante o ano todo, bem como pelo facto de o mar ser calmo nesta região, criando assim um delta.</p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O delta do Catumbela é caracterizado por uma sucessão de cordões de praia, cada um associado a uma antiga posição da linha de Costa, morfologia típica de um delta fortemente influenciado pelas ondas. Devido à protuberância deltaica e à orientação dominante da ondulação, os sedimentos transportados pelo rio Catumbela são redistribuídos por correntes de deriva litoral tanto para norte como para sul. Todavia, em locais mais afastados da protuberância deltaica, a deriva é maioritariamente direccionada para o Norte, pelo que, os sedimentos transportados por deriva litoral têm alimentado a restinga do Lobito e o delta que assume uma morfologia ligeiramente assimétrica.</p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Do ponto de vista geomorfológico, o município de Catumbela localiza-se na faixa litoral do território angolano na zona de transição, com uma largura de 10 a 20 km e altitudes de cerca de 400m. Neste local, afloram as rochas sedimentares que suportam morfologias irregulares estendidas ao longo da costa onde se observam, especialmente solos aluvionares, aluvionares-marítimos férteis.</p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A faixa litoral entra em contacto com a zona transição através de uma escarpa de falha com um desnível superior a 200 metros. A planície costeira onde são depositados os sedimentos aluvionares e de praia, está separada das formações carbonatadas do Albiano através de uma escarpa que começa no Lobito e prolonga-se até a Catumbela. No município de Catumbela predominante por planícies e também algumas colinas, sendo o relevo de característica plana, com altitudes inferiores a 50 m ou ainda mais baixas na região do delta de Catumbela. O rio Catumbela desenvolveu uma larga planície deltáica cujos depósitos são, sobre tudo finos que lembram antigas vasas.</p>

        <p style="font-size: 15pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O relevo é muito movimentado constituído por uma espécie de escadaria em que pequenas superfícies planas se encontram escalonadas e separadas por degraus vigorosos. Nesta região podemos encontrar relevos residuais que se vão tornando mais pequenos e alterando à medida que se segue para o Oeste.</p>
</ul>
</div>
    
</body>
</html>